<div class="container">
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput value="Name">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput value="Surname">
  </mat-form-field>
  <label></label>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput value="email@email.com">
  </mat-form-field>
</form>
</div>